/* following freeCodeCamp's snake game tutorial */

body {
  background: rgb(212, 211, 211);
}
.container {
  /* scale kind of works, but is shifting the container when the popup becomes visible, reason unknown */
  scale: 1.38;
  position: relative;
  top: 10rem;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  margin: 0 auto;
  margin-top: 15px;
}

.btn {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  width: 100px;
  height: 100px;
}

.title {
  display: flex;
  text-align: center;
  justify-content: center;
}

.score-display {
  width: 200px;
  margin: 0.5rem auto;
  font-size: 20px;
}

.grid-container {
    width: 100vw;
    min-width: 200px;
    margin: 0 auto;
}

.grid {
  width: 202px;
  height: 201px;
  border: 1px solid red;
  background-color:rgb(177, 143, 95);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 20px;
  height: 20px;
  border: 0.5px black solid;
  box-sizing:border-box
}

.snake {
  background: blue;
}

.apple {
  background-image: url("./trans-backg-ittybittybug.png");
}

.popup {
  display: flex;
  flex-direction: column;
  background: rgb(32, 31, 31, 0.75);
  width: 202px;
  height: 420px;
  position: relative;
  bottom: 420px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* extent of tutorial */

.death-msg {
  color: white;
  text-align: center;

}

.play-again {
  height: 50px;
  width: 150px;
  border-radius: 3.5vw / 25%;
  background: rgb(2, 189, 151);
  transition: 0.5s;
}

.play-again:hover {
  background: rgb(187, 0, 0);
  color: white;
}

.give-up {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 5rem;
  font-size: 8px;
  height: 38px;
  width: 100px;
  border-radius: 2vw / 25%;
  background: rgb(2, 189, 151);
  transition: 0.5s;
}

#plead {
  font-size: 16px;
  position: relative;
  top: 5px;
}

.pause {
  position: relative;
  top: 5.2rem;
  font-size: 6px;
  border-radius: 1vw / 25%;
  background: rgb(2, 189, 151);
}

/* TODO mobile first design and responsive styling */
/* TODO make it pretty*/