/* TODO mobile first design and responsive styling */
/* TODO make it pretty*/

/* following freeCodeCamp's snake game tutorial */

body {
  background: rgb(212, 211, 211);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  margin: 0 auto;
  margin-top: 15px;
}

.btn {
  border-style: solid;
  border-width: 2px;
  border-radius: 5%;
  border-color: black;
  width: 100px;
  height: 100px;
  user-select: none;
}

.top {
  background: rgb(159, 171, 32);
}

.top:active {
  background: rgb(227, 244, 42);
}

.right {
  background: rgb(27, 158, 77);
}

.right:active {
  background: rgb(40, 227, 112);
}

.left {
  background: rgb(25, 114, 162);
}

.left:active {
  background: rgb(38, 169, 240);
}

.bottom {
  background: rgb(145, 23, 23);
}

.bottom:active {
  background: rgb(225, 40, 40);
}

.title {
  font-family: Righteous, cursive;
  display: flex;
  text-align: center;
  justify-content: center;
}

.scoreboard {
  font-family: Roboto, sans serif;
  display: flex;
  width: 200px;
  margin: 0 auto;
  justify-content: space-between;
}

.score,
.stopwatch {
  width: 200px;
  margin: 0.5rem auto;
  font-size: 18px;
  flex: 1 1 auto;
}

.stopwatch {
  text-align: end;
}

.grid-container {
  width: 100vw;
  min-width: 200px;
  margin: 0 auto;
}

.grid {
  width: 200px;
  height: 200px;
  border: 1px solid red;
  background-color: rgb(177, 143, 95);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 20px;
  height: 20px;
  border: 0.5px black solid;
  box-sizing: border-box;
}

.snake {
  background: blue;
}

.bug {
  background-image: url("./trans-backg-ittybittybug.png");
}

.boost-container {
  display: flex;
  justify-content: center;
  margin: 1rem auto;
}

.boost-btn {
  margin: auto;
  height: 40px;
  width: 200px;
  background-color: rgb(222, 96, 29);
}

.popup {
  display: flex;
  flex-direction: column;
  background: rgb(32, 31, 31, 0.75);
  width: 202px;
  height: 480px;
  position: relative;
  bottom: 490px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* extent of tutorial */

.death-msg {
  color: white;
  text-align: center;
  position: relative;
  bottom: 60px;
}

.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  bottom: 60px;
}

.play-again {
  height: 50px;
  width: 150px;
  margin-bottom: 10px;
  border-radius: 3.5vw / 25%;
  background: rgb(116, 141, 138);
  transition: 0.5s;
}

.play-again:hover {
  background: rgb(2, 186, 189);
}

.save-score {
  height: 50px;
  width: 150px;
  margin-bottom: 10px;
  border-radius: 3.5vw / 25%;
  background: rgb(76, 149, 134);
  transition: 0.5s;
}

.save-score:hover {
  background: rgb(2, 189, 151);
}

.view-scores {
  height: 50px;
  width: 150px;
  border-radius: 3.5vw / 25%;
  background: rgb(130, 143, 93);
  transition: 0.5s;
}

.view-scores:hover {
  background: rgb(164, 197, 71);
}

.give-up {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  height: 38px;
  width: 100px;
  border-radius: 2vw / 25%;
  background: rgb(90, 118, 154);
  transition: 0.5s;
}

.give-up:hover {
  background: rgb(53, 124, 216);
}

#emoji {
  font-size: 16px;
}

#plead {
  font-size: 8px;
}

.pause {
  position: relative;
  top: 10px;
  font-size: 7px;
  border-radius: 1vw / 25%;
  background: rgb(52, 155, 169);
}

.modal-container {
  font-family: 'Righteous', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 201px;
  margin: 0 auto;
  position: relative;
  bottom: 924px;

  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.user-score {
  font-size: 44px;
  position: relative;
  bottom: 20px;
  animation: user-score 5s infinite alternate;
}

@keyframes user-score {
  0% {
    color: blue;
  }
  12% {
    color: magenta;
  }
  25% {
    color: red;
  }
  37% {
    color: orange;
  }
  50% {
    color: yellow;
  }
  62% {
    color: greenyellow;
  }
  75% {
    color: green;
  }
  83% {
    color: teal;
  }
  100% {
    color: blue;
  }
}

.modal-msg {
  position: relative;
  bottom: 60px;
  text-align: center;
}

.player-name {
  position: relative;
  bottom: 60px;
}

#player-input {
  height: 30px;
  width: 180px;
  font-size: 16px;
  text-align: center;
}

.submit-btn,
.return-btn {
  position: relative;
  bottom: 50px;
  width: 69px;
  height: 28px;
  margin: 5px 0;
  align-items: center;
  justify-content: center;
  background: black;
  color: lime;
  border-radius: 0.5rem / 25%;
  transition: 0.5s;
}

.submit-btn:hover {
  scale: 1.5;
  bottom: 45px;
}

.highscores-modal {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 990px;
  width: 200px;
  min-height: 480px;
  margin: 0 auto;
  margin-top: 20px;
  border: solid 1px;

  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.hs-header {
  font-family: 'Righteous', cursive;
  font-size: 24px;
  text-align: center;
}

.list-columns {
  display: flex;
  flex-direction: row;
}

.names {
  flex: 0 1 auto;
}

.scores {
  flex: 1 1 auto;
}

.names-list,
.scores-list {
  list-style-type: none;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  line-height: 2;
}

.hs-return-btn {
  width: 60px;
  position: absolute;
  bottom: 5px;
  left: 70px;
  background: black;
  color: lime;
  border-radius: 0.5rem / 25%;
}



/* experiments in animations */
.anim {
  background-image: url("./animations/scaled-mini-explositomaton.png");
  width: 14px;
  height: 20px;
  animation: anim 2s steps(17);
}

.burnt {
  background-color: black;
}

@keyframes anim {
  100% {
    background-position: -340px;
  }
}
